.templateHero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(220deg,
      var(--fdn-yellow-light) 0.69%,
      var(--clean-white, #fff) 57.53%);
  display: flex;
  justify-content: center;
  color: var(--charcoal-grey);
  padding: var(--fs-micro) var(--fs-h2) var(--fs-h1) var(--fs-h2);
}

.templateHero .breakpoint {
  display: flex;
  align-items: center;
  gap: auto;
}

.templateHero .wrap {
  display: inline-flex;
  flex-direction: column;
}

.templateHero .wrap img {
  position: relative;
  left: -10px;
  max-width: 180px;
}

.templateHero #maskot {
  max-width: 385px;
}

@media (max-width: 768px) {
  .templateHero {
    padding-top: 100px;
  }

  .templateHero .breakpoint {
    flex-direction: column;
  }
}